@use "sass:list";

// Dimension breakpoint extremes
$min-breakpoint: 300px;
$max-breakpoint: 1920px;

// Variables for modular scale
$type-base-min: 16px;
$type-base-max: 22px;
$type-scale-min: 1.067; // (15:16) minor second
$type-scale-max: 1.333; // (3:4) perfect fourth
$type-steps: "xxxxs", "xxxs", "xxs", "xs", "sm", "base", "md", "lg", "xl", "xxl",
  "xxxl";
$type-base-index: list.index($type-steps, "base");
