@use "../../styles/utilities/functions" as *;
@use "../../styles/utilities/mixins" as *;

.main {
  display: flex;

  flex-direction: column;

  gap: 1.5rem;

  align-items: center;
  justify-content: center;

  height: 100%;

  @media (width >= 806px) {
    align-items: flex-start;
  }

  @include clamped-container;
}

.heading {
  font-size: clamped(28px, 35px);
  font-weight: 600;
  line-height: 1;
}
